#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  height: 100%;
  width: 100vw;
  min-height: 100vh;
}

.min-h-full {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/* filtro logos */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.csharp:hover {
  filter: drop-shadow(0 0 2em #006414);
}
.logo.js:hover {
  filter: drop-shadow(0 0 2em #ffff51);
}
.logo.html:hover {
  filter: drop-shadow(0 0 2em #ffa43a);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ele escolher o segundo elemento do dom que recebe a classe logo */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media (max-width: 667px) {
  #root {
    padding: 0;
    width: 100%;
  }

  .logo.csharp,
  .logo.html,
  .logo.php {
    display: none;
  }
}
